* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #212529;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin-left: 20px;
  transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transform-origin: center;
}

nav a:hover {
  transform: scale(1.4);
}

main {
  flex: 1;
  padding: 40px;
  text-align: center;
}

footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 15px 0;
}

header button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hiden;
}

header button img{
    height: 50px;
    height: 50px;
}

.cardUsuario{
    color: black;
     width: 220px;
       padding: 15px;
       border: 1px solid #ccc;
       border-radius: 8px;
       background-color: #fff;
       box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
       z-index: 999;
}

.hidden {
  display: none;
}

.user-container {
  position: relative; /* base para o posicionamento absoluto do card */
  display: inline-block; /* para manter tudo junto */
}
